Options +FollowSymlinks
RewriteEngine On

# deal with admin first
RewriteCond %{REQUEST_URI} ^/advanced/(admin)
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^admin/fonts/(.*)$ backend/web/fonts/$1 [L]
RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^admin/dist/(.*)$ backend/web/dist/$1 [L]
RewriteRule ^admin/backend/web/dist/img(.*)$ backend/web/dist/img/$1 [L]
RewriteRule ^admin/plugins/(.*)$ backend/web/plugins/$1 [L]
RewriteRule ^admin/site/(.*)$ admin/$1 [L]

RewriteCond %{REQUEST_URI} !^/advanced/backend/web/(assets|css|js|fonts|dist|plugins)/
RewriteCond %{REQUEST_URI} ^/advanced/(admin)
RewriteRule ^.*$ backend/web/index.php [L]


RewriteCond %{REQUEST_URI} ^/advanced/(assets|css|js|uploads|plugins|dist)
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^uploads/(.*)$ frontend/web/uploads/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]

RewriteRule ^assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^fonts/(.*)$ backend/web/fonts/$1 [L]
RewriteRule ^plugins/(.*)$ backend/web/plugins/$1 [L]
RewriteRule ^dist/(.*)$ backend/web/dist/$1 [L]

RewriteCond %{REQUEST_URI} !^/advanced/(frontend|backend)/web/(assets|css|uploads|js|fonts|images|dist|plugins)
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php